---
layout: default
title: 标签
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% assign sorted = site.tags | sort_tags_by_posts_count %}

  <ul class='tag-items'>
    {% for tag in sorted %}
      <li><a href='/tags.html#t-{{ tag[0] }}'>{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>

  {% for tag in sorted %}
    <h2 id="t-{{ tag[0] }}" class="post-list-heading">{{ tag[0] }}</h2>
    <ul class="plist-inl">
      {%- for post in tag[1] -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="pl-inl" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
      {%- endfor -%}
    </ul>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
